<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd	
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<mvc:annotation-driven/>	
	<mvc:default-servlet-handler/>
	
	<bean id="utf8Charset" class="java.nio.charset.Charset"
          factory-method="forName">
        <constructor-arg value="UTF-8"/>
    </bean>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg ref="utf8Charset"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
	
	<context:component-scan base-package="org.lxb.framework.controller" />
	<context:component-scan base-package="org.lxb.business.controller" />
	<context:component-scan base-package="com.json" />

	<!-- 对静态资源文件的访问  restful-->   
	  
	<mvc:resources mapping="/admin/**" location="/,/admin/" />
	<mvc:resources mapping="/static/**" location="/,/static/" />
	<mvc:resources mapping="/plugins/**" location="/,/plugins/" />
	<mvc:resources mapping="/uploadFiles/**" location="/,/uploadFiles/" /> 
	
	<!-- 访问拦截  -->	
  	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/api/**"/>
			<bean class="org.lxb.framework.interceptor.ApiHandlerInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/web/**"/>
			<bean class="org.lxb.framework.interceptor.WebHandlerInterceptorAdapter" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**/**"/>
			<mvc:exclude-mapping path="/logout"/>
			<mvc:exclude-mapping path="/login_login"/>
			<mvc:exclude-mapping path="/login_toLogin"/>
			<mvc:exclude-mapping path="/main/**"/>
			<mvc:exclude-mapping path="/code.do"/>
			<mvc:exclude-mapping path="/static/**"/>
			<mvc:exclude-mapping path="/api/**"/>
			<mvc:exclude-mapping path="/back/**"/>
			<mvc:exclude-mapping path="/web/**"/>
			<mvc:exclude-mapping path="/res/**"/>
			<mvc:exclude-mapping path="/ueditor/**"/>	
			<bean class="org.lxb.framework.interceptor.LoginHandlerInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 国际化配置 -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="message"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieMaxAge" value="604800"/>
   		<!-- <property name="defaultLocale" value="zh_CN"/> -->
   		<property name="cookieName" value="Language"></property>
    </bean>
    
	<!-- 配置SpringMVC的视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<bean id="exceptionResolver" class="org.lxb.framework.resolver.MyExceptionResolver"/>
	<bean id="initDataListener" class="org.lxb.framework.listener.InitDataListener"/>
	<!-- 上传拦截，如最大上传值及最小上传值 -->
	  <bean id="multipartResolver"   class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >   
		  <property name="maxUploadSize">    
	          <value>104857600</value>    
	       </property>   
	        <property name="maxInMemorySize">    
	            <value>4096</value>    
	        </property>   
	         <property name="defaultEncoding">    
	            <value>utf-8</value>    
	        </property> 
    </bean>  
	
</beans>
